/*Clases para la barra scroll - solo disponible en algunos navegadores*/
.contenedor::-webkit-scrollbar {
    width: 11px;
    background-color: #f1eeee;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: #B6C4DB;
    border-radius: 5px;
}
 /*Clases para la pre carga principal de la página*/
*,
*:before,
*:after {
  --higru:#496CA5;
}

.loading1{
    clip-path: circle(100% at 50% 50%);
   transition: clip-path 1.5s ease-in-out;
}
.loading2{
    clip-path: circle(0% at 50% 50%);
}
.ci1 {
    fill: var(--higru);
    animation: toBig 3s infinite -1.5s;
    transform-box: fill-box;
    transform-origin:50% 50%;
}
.ciw {
    transform-box: fill-box;
    transform-origin:50% 50%;
    animation: breath 3s infinite;
}
.ci2 {
    fill: var(--higru);
    animation: toBig2 3s infinite;
    transform-box: fill-box;
    transform-origin:50% 50%;
}
.points {
    animation: rot 3s infinite;
    transform-box: fill-box;
    transform-origin:50% 50%;
}

@keyframes rot {
  0%    {  transform:  rotate(0deg);}
  30%   { transform:  rotate(360deg);}
  50%   { transform:  rotate(360deg);}
  80%   { transform:  rotate(0deg);}
  100%  { transform:  rotate(0deg);}
}
@keyframes toBig {
  0%    { transform:  scale(1) translateX(0px);}
  30%   { transform:  scale(1) translateX(0px);}
  50%   { transform:  scale(10) translateX(-4.5px);}
  80%   { transform:  scale(10) translateX(-4.5px);}
  100%  { transform:  scale(1) translateX(0px);}
}
@keyframes toBig2  {
  0%    { transform:  scale(1) translateX(0px);}
  30%   { transform:  scale(1) translateX(0px);}
  50%   { transform:  scale(10) translateX(4.5px);}
  80%   { transform:  scale(10) translateX(4.5px);}
  100%  { transform:  scale(1) translateX(0px);}
}
@keyframes breath {
  15% { transform:  scale(1) ;}
  40% { transform:  scale(1.1) ;}  
  65% { transform:  scale(1) ;}
  90% { transform:  scale(1.1) ;}
}

/*Clase para bordes redondeados*/
@media screen and (max-width:767px){
  .bordredound{
    border-radius: 0px 190px 0px 0px;
    -moz-border-radius: 0px 190px 0px 0px;
    -webkit-border-radius: 0px 190px 0px 0px;
    border: 0px solid #000000;
  }
}

